:root {
    --container-max-width: 1500px;
    --container-padding: 20px;
    --header-height: 70px;
}

.parent {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: var(--container-padding);
    padding-right: var(--container-padding);
}

.container {
    width: 100%;
    max-width: var(--container-max-width);
}

@media (max-width: 768px) {
    :root {
        --container-padding: 10px;
    }
}

@media (max-width: 576px) {
    :root {
        --container-padding: 5px;
    }
}

@media (max-width: 320px) {
    :root {
        --container-padding: 2px;
    }
}
