:root {
    --container-max-width: 1500px;
    --container-padding: 20px;
    --header-height: 70px;

    --panel-header-height: 100px;
    --panel-sidebar-width: 300px;
    --panel-sidebar-width-min: 100px;
}

.parent {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: var(--container-padding);
    padding-right: var(--container-padding);
}

.container {
    width: 100%;
    max-width: var(--container-max-width);
}

@media (max-width: 768px) {
    :root {
        --container-padding: 10px;
    }
}

@media (max-width: 576px) {
    :root {
        --container-padding: 5px;
    }
}

@media (max-width: 320px) {
    :root {
        --container-padding: 2px;
    }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    border: 0px solid transparent;
    -webkit-text-fill-color: rgb(53, 53, 53);
    -webkit-box-shadow: 0 0 0px 1000px #a8b3c2 inset;
    transition: background-color 5000s ease-in-out 0s;
}

input::placeholder {
    color: var(--c2-txt);
    opacity: 0.5;
}

.dark input:-webkit-autofill,
.dark input:-webkit-autofill:hover,
.dark input:-webkit-autofill:focus,
.dark textarea:-webkit-autofill,
.dark textarea:-webkit-autofill:hover,
.dark textarea:-webkit-autofill:focus,
.dark select:-webkit-autofill,
.dark select:-webkit-autofill:hover,
.dark select:-webkit-autofill:focus {
    -webkit-text-fill-color: rgb(201, 199, 199);
    -webkit-box-shadow: 0 0 0px 1000px #19212c inset;
}
