@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@font-face {
    src: url("./assets/fonts/BlackOpsOne-Regular.ttf");
    font-family: custom1;
}

@font-face {
    src: url("./assets/fonts/Dosis-Light.ttf");
    font-family: custom2;
}

@theme {
    /* fonts */
    --font-custom1: custom1;
    --font-custom2: custom2;

    /* light */
    --color-c1: #3b82f6;
    --color-c1-txt: white;

    --color-c2: #d0def1;
    --color-c2-txt: black;
    --color-c2-txt2: #3b82f6;

    --color-c3: black;
    --color-c3-txt: white;

    /* dark */
    --color-dark-c1: #3b82f6;
    --color-dark-c1-txt: white;

    --color-dark-c2: #1f2937;
    --color-dark-c2-txt: white;
    --color-dark-c2-txt2: #3b82f6;

    --color-dark-c3: white;
    --color-dark-c3-txt: black;
}

@view-transition {
    navigation: auto;
}

* {
    outline: none;
}
