@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    src: url("./assets/fonts/BlackOpsOne-Regular.ttf");
    font-family: custom1;
}

@font-face {
    src: url("./assets/fonts/Dosis-Light.ttf");
    font-family: custom2;
}

* {
    outline: none;
}
