:root {
    --c1: #3b82f6;
    --c1-txt: white;

    --c2: #1f2937;
    --c2-txt: white;
    --c2-txt2: #3b82f6;

    --c3: white;
    --c3-txt: black;

    --c4: #292d3e;
    --c4-txt: white;
    --c4-txt2: #3b82f6;
}
